@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');
body {
  background-color: rgb(43, 125, 226);
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
  font-family:'Nova Round';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
